mixin sForm(sel='false')
	- let data = baseLang.sForm
	if data
		// start sForm
		+b.SECTION.sForm.section#sForm&attributes(attributes)
			.container
				+e.row.row
					.col
						.section-title
							h2!= data.h2
							p!= data.p
					.col-lg-8
						+form-wrap
							+e.row.row
								.col-lg-6
									+input(data.inputName,'text',data.inputName,'name')
								.col-lg-6
									+input(data.inputEmail,'email')
								.col-lg-6
									+input(data.inputTel,'tel')(required)
								.col-lg-6
									//- +input("Интересующий продукт",'select')
									+e.input-wrap.form-group
										+e.SELECT.input--default.form-select( name= 'select')
											option( )= data.select
											each item in baseLang.sProducts.items
												option(value= item[1])= item[1]
								.col-lg-12
									//- +input("Комментарий (рекомендуем указать название компании, возможный чек или другую, которая поможет провести разговор более эффективно)",'textarea')
									+e.input-wrap.form-group
										+e.TEXTAREA.input.form-control(name='comment' placeholder=data.textarea)
										+e.SPAN.underline
							+e.inner-row.row
								.col-lg.order-2.order-lg-1
									+policy
								.col-lg-auto.order-1.order-lg-2
									+btnPrimary(data.btn, true)
		// end sForm