mixin sAdvantages()
	- let data = baseLang.sAdvantages
	if data
		// start sAdvantages
		+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
			+e.container.container
				+b.section-title
					h2!= data.h2
				+e.slider.swiper.default-slider
					.swiper-wrapper
						each item in data.items
							+e.slide.swiper-slide
								+icon(`${item[0]}`)(style = `--iconC: ${item[1]}`)
								h5!= item[2]
								p!= item[3]
					+e.arrow-wrap
						+arrow()
		// end sAdvantages