mixin sProducts()
	- let data = baseLang.sProducts
	if data
		// start sProducts
		+b.sProducts.section#sProducts&attributes(attributes)
			.container
				+b.section-title.d-lg-none
					.h2!= data.h2
					p!= data.p
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+b.section-title
								.h2!= data.h2
								p!= data.p
						each item in data.items
							+e.slide.swiper-slide
								+e.item
									if item[4]
										+e.label(style='--bgColor: #1096C9;')!= item[4]
									+e.img-wrap
										+img(`img/sProducts-${item[0]}.jpg`, `bg`)
									+e.item-content
										h4!= item[1]
										p!= item[2]
										+e.wrapper
											if !item[5]
												+btnPrimary(data.btn1)(data-src='modal-call' data-fancybox="modal" data-product=`${item[3]}`)
											else
												+btnPrimary(data.btn2,'',data.link)
					.swiper-scrollbar
					+arrow
		// end sProducts