mixin sProducts(data)
	// start sProducts
	+b.sProducts.section#sProducts&attributes(attributes)
		.container
			+b.section-title.d-lg-none
				.h2 Продукты
				p Мы&nbsp;поддерживаем коммуникацию с&nbsp;широкой сетью предпринимателей, экспертов, банков, инвестиционных фондов и&nbsp;корпораций
			+e.slider--js.swiper
				.swiper-wrapper
					+e.slide.swiper-slide
						+b.section-title
							.h2 Продукты
							p Мы&nbsp;поддерживаем коммуникацию с&nbsp;широкой сетью предпринимателей, экспертов, банков, инвестиционных фондов и&nbsp;корпораций
					mixin slide(i, h, t, product=h,label, modal=true)
						+e.slide.swiper-slide
							+e.item
								if label
									+e.label(style='--bgColor: #1096C9;')!= label
								+e.img-wrap
									+img(`img/sProducts-${i}.jpg`, `bg`)
								+e.item-content
									h4!= h
									p!= t
									+e.wrapper
										if modal
											+btnPrimary('оставить заявку')(data-src='modal-call' data-fancybox="modal" data-product=`${product}`)
										else
											+btnPrimary('Подробнее')
					+slide(9, `Управление фондами`, 
					`Полный цикл или поддержка на любом этапе фандрайзинга, структурирования, инвестиционного периода, продажи активов или закрытия PE&VC фонда.`, h, 'Новая услуга', false)
					+slide(2, `Привлечение финансирования`, 
					`Подготовка материалов для фандрайзинга, разработка структуры и условий сделки, поиск инвестора, координация переговорного процесса на sell-side до закрытия сделки.`)
					+slide(3, `Поиск и приобретение активов`, 
					`Разработка мандата, организация воронки и отбора проектов на основе независимой экспертизы, лидирование переговорного процесса, структурирование и закрытие сделки на buy-side.`)
					+slide(4, `Продажа активов`, 
					`Подготовка актива, разработка материалов и документации, поиск покупателя, лидирование переговоров и организация полного цикла сделки.`)
					+slide(5, `Управление активами`, 
					`Разработка стратегии, формирование операционной команды, выстраивание бизнес-процессов, обеспечение развития бизнеса в соответствии с инвестиционными и финансовыми целями.`)
					+slide(6, `Независимый директор`, 
					`Изучение потребностей, составление карты экспертизы, подбор и предоставление в коллегиальные органы управления высокопрофессиональных независимых директоров из уникального нетворка BSF Capital.`)
					+slide(7, `Семейный офис`, 
					`Организация офиса по структурированию и управлению личным капиталом, активами и объектами собственности, обеспечение всех сопутствующих потребностей и услуг.`)
					+slide(8, `Присоединение к сделкам BSF`, 
					`Мы будем рады уточнить вашу сферу инвестиционных интересов, финансовые предпочтения и аппетит к риску, чтобы приглашать в наши сделки и синдикаты.`)
				.swiper-scrollbar
				+arrow
	// end sProducts