mixin sTeam()
	- let data = baseLang.sTeam
	if data
		// start sTeam
		+b.SECTION.sTeam.section#sTeam&attributes(attributes)
			.container
				+e.row.row
					.col
						h2= data.h2
					+e.col.col-lg-12
						+e.swiper--js.swiper.default-slider
							.swiper-wrapper
								each item in data.items
									+e.slide.swiper-slide
										+e.inner-row.row
											+e.col-img.col-lg
												+e.img-wrap
													+img(`img/sTeam-img-${item[0]}.jpg`)
												+e.wrap
													h4.d-block.d-lg-none!=item[1]
													+e.place.d-block.d-lg-none!= item[2]
													if item[5]
														+soc()
															+item-sos('telegram', 'https://t.me/basovalexey')(style=`--color: #039BE5`)
															+item-sos('fb', 'https://www.facebook.com/alexey.basov')(style=`--color: #3E6AD6`)
															+item-sos('instagram', 'https://www.instagram.com/basovalexey/')(style=`--color: #E15494`)
											+e.col-text.col-lg
												h4.d-none.d-lg-block!=item[1]
												+e.place.d-none.d-lg-block!= item[2]
												p!= item[3]
													| 
													| 
													if item[4]
														span.dots ...
													| 
													| 
													if item[4]
														span.moreText!= item[4]
												if item[4]
													+e.showMore(href="#" data-hide= data.btnHide data-show= data.btnShow)= data.btnShow
							+e.arrow-wrap
								+arrow()
		// end sTeam