mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+e.row.row
				.col
					h2 Команда
				+e.col.col-lg-8
					+e.swiper--js.swiper.default-slider
						.swiper-wrapper
							mixin item(i, title, place, text, moreText)
								+e.slide.swiper-slide
									+e.inner-row.row
										+e.col-img.col-lg
											+e.img-wrap
												+img(`img/sTeam-img-${i}.jpg`)
											+e.wrap
												h4.d-block.d-lg-none!=title
												+e.place.d-block.d-lg-none!= place
												+soc()
													+item-sos('telegram', 'https://t.me/basovalexey')(style=`--color: #039BE5`)
													+item-sos('fb', 'https://www.facebook.com/alexey.basov')(style=`--color: #3E6AD6`)
										+e.col-text.col-lg
											h4.d-none.d-lg-block!=title
											+e.place.d-none.d-lg-block!= place
											p!= text
												| 
												| 
												if moreText
													span.dots ...
												| 
												| 
												if moreText
													span.moreText!= moreText
											if moreText
												+e.showMore(href="#") Подробнее
							+item(1, 'Алексей Басов', 'управляющий партнер', '22&nbsp;года опыта частных и&nbsp;корпоративных инвестиций. В&nbsp;прошлом&nbsp;&mdash; основатель ряда технологических компаний, вице-президент Ростелеком и&nbsp;Mail.ru Group, управляющий партнер Finam IT&nbsp;Fund и&nbsp;Commit Capital', 'Fun. Занимал пост главы Фонда Фондов RVC, управляя 29&nbsp;PE&amp;VC фондам объемом более $1&nbsp;мдрд. долл. Бизнес-ангел с&nbsp;2002&nbsp;года. Более 100 выходов объемом в&nbsp;$800&nbsp;млн. через российские частные и госкомпании, международные корпорации и&nbsp;инвестиционные фонды. Заместитель председателя комитета РСПП по&nbsp;инвестполитке, член координационного совета ММВБ, член&nbsp;СД ряда институтов развития и технологических компаний. Лауреат ряда профессиональных премий и наград.')
							+item(2, 'Иван Неудахин', 'венчурный партнер', '18&nbsp;лет опыта инвестиционной деятельности в&nbsp;инвестиционных банках, PE/VC фондах и&nbsp;институтах развития, а&nbsp;также стартапах. В&nbsp;прошлом&nbsp;&mdash; управляющий директор &laquo;РВК&raquo;, управляющий директор ВЭБ, советник по', 'инвестициям ЗГД &laquo;Ренова&raquo;, управляющий директор инвестбанка Rothschild. Более 35&nbsp;закрытых&nbsp;IB и&nbsp;PE/VС сделок по&nbsp;широкому спектру отраслей. Член Совета директоров страховой компании МАКС. Аккредитован CFA Charter.')
							+item(3, 'Артем Утенов', 'Венчурный партнер', '10&nbsp;лет в&nbsp;инвестициях и&nbsp;банковской сфере. В&nbsp;прошлом&nbsp;&mdash; Директор по&nbsp;сопровождению портфеля из&nbsp;более 200 стартапов в&nbsp;РВК и&nbsp;РФПИ, инвестиционный менеджер в&nbsp;Абсолют Банке. Создал систему оценки', 'качества и&nbsp;стоимости венчурного инвестиционного портфеля фонда фондов, подтвержденную аудиторами большой четверки. Обеспечил более 30&nbsp;успешных аудиторских, казначейских проверок и&nbsp;Due Diligence. MBA, сертифицированный трекер и&nbsp;эксперт в&nbsp;акселерационных программах.')
							+item(4, 'Юрий Усанов', 'Венчурный партнер', 'Международный управленческий опыт более 20&nbsp;лет. В&nbsp;прошлом&nbsp;&mdash; M&amp;A Freedom Finance, CEO инвестиционного бутика Swiss AMF. Сопровождал крупные сделки M&amp;A в&nbsp;Швейцарии, Австрии, Лихтенштейне.')
						+e.arrow-wrap
							+arrow()
	// end sTeam